@font-face { font-family: "Zagora"; src: url(./assets/Zagora.ttf) format("truetype"); }
@font-face { font-family: "Belgan"; src: url(./assets/Belgan-Aesthetic.ttf) format("truetype"); }

:root{
  --black: #05060f99;
  --tan: linear-gradient(180deg, rgba(190,167,125,1) 0%, rgba(224,212,185,1) 50%, rgba(211,198,169,1) 100%);
  --dark-brown: #772602;
  background: var(--tan);
  background-size: cover;
  height: 100%;
  cursor: url('./assets/pointer.png');
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#head-logo{
  display: flex;
  width: 30em;
}

/*Buttons*/
#btns{
  display: block;
}
#btn,
.btn {
  font-size: .9rem;
  font-family: "Zagora";
  display: flex;
  margin-bottom: 1em;
  outline: none;
  color: var(--dark-brown);
  padding: 0.5em;
  border: 2px dashed var(--dark-brown);
  border-radius: 15px;
  background-color: var(--tan);
  box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .1s ease-in-out, .4s color;
}
#btn{
  padding-left: 3em;
  padding-right: 3em;
}
.btn {
  float: left;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
#btn:hover,
  .btn:hover{
    border: 2px solid var(--dark-brown);
}
#btn:hover,
.btn:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #EADDCA, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}


/*Grading*/
.tab{
    display: none;
}
.header{
  margin-top:1em;
  width: 25em;
}
#event-name{
  font-family: "Belgan";
  margin: 0;
  padding: 0;
  float: right;
  color: var(--black);
}
.sheet{
    width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    outline: none;
    color: var(--dark-brown);
    padding: 1em 0em;
    border: 2px dashed var(--dark-brown);
    border-radius: 15px;
    background-color: var(--tan);
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
}
#input{
  display: flex;
  flex-direction: column;
}
.input {
  max-width: 30em;
  height: 1.5em;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 0.5rem;
  border: 2px solid transparent;
  font-size: 0.9rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  margin-bottom: 1em;
}
  
.label {
  font-family: "Zagora";
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}
  
.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-style: dashed;
  border-color: var(--dark-brown);
}
.input:focus {
  border-style: solid;
}
.input-group:hover .label, .input:focus {
  color: #05060fc2;
}
